<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name=apple-mobile-web-app-capable content=yes>
    <meta name=full-screen content=true>
    <meta name=screen-orientation content=portrait>
    <meta name=x5-fullscreen content=true>
    <meta name=360-fullscreen content=true>
    <title>丰益电投666</title>
    <link rel="shortcut icon" type=image/x-icon href=front/images/salon/group.png>
    <link rel=icon type=image/x-icon href=./front/images/favicon.png>
    <link rel=stylesheet type=text/css href=./front/photoswipe/photoswipe.css>
    <link rel=stylesheet type=text/css href=./front/photoswipe/default-skin/default-skin.css>
    <link href=/front/css/app.5d92d05384b1e96fa93b292a4140dbe9.css rel=stylesheet>
</head>
<body>
<!--  <script src=https://cdn.staticfile.org/vue/2.5.17-beta.0/vue.min.js></script>
<script src=https://cdn.staticfile.org/element-ui/2.13.0/index.js></script>
<script src=https://cdn.staticfile.org/axios/0.18.0/axios.min.js></script> -->
<script src=https://unpkg.com/vue@2.6.14/dist/vue.min.js></script>
<script src='./front/js/uiindex.js?t=134509480'></script>
<script src='./front/js/axios.js?t=1121134480'></script>
<script src=./front/photoswipe/photoswipe.min.js></script>
<script src=./front/photoswipe/photoswipe-ui-default.min.js></script>
<div id=app></div>
<div class=pswp tabindex=-1 role=dialog aria-hidden=true>
    <div class=pswp__bg></div>
    <div class=pswp__scroll-wrap>
        <div class=pswp__container>
            <div class=pswp__item></div>
            <div class=pswp__item></div>
            <div class=pswp__item></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class=pswp__top-bar>
                <div class=pswp__counter></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <div class=pswp__preloader>
                    <div class=pswp__preloader__icn>
                        <div class=pswp__preloader__cut>
                            <div class=pswp__preloader__donut></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class=pswp__share-tooltip></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class=pswp__caption>
                <div class=pswp__caption__center></div>
            </div>
        </div>
    </div>
</div>
<script type=text/javascript src=/front/js/manifest.52711df9f887a3a48402.js></script>
<script type=text/javascript src=/front/js/vendor.9c265f80daa63f6f8193.js></script>
<script type=text/javascript src=/front/js/app.3e75d27eeca97c8eb8.js></script>
<script src='./front/js/touch.js?t=111211509'></script>
<!--<script src='./front/js/unionid2.js?t=12'></script>-->
</body>
</html>